nav {
  width: fit-content;
  height: auto;
  padding: 2em;
  .login-btn,
  .logout-btn {
    font-family: "Yrsa", serif;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
  }
  .logout-btn {
    font-size: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
}
